<%- include('partials/header') %>
<h2>Customer Details</h2>
<p>Name: <%= customer.name %></p>
<p>Email: <%= customer.email %></p>
<p>Balance: <%= customer.current_balance %></p>
<p><a href="/transfer/<%= customer._id %>">Transfer Money</a></p>
<%- include('partials/footer') %>
